.contenedor {
    background-image: url(./imagenes/fondo.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

h1 {
    background-color: rgba(112, 79, 26, 0.664);
    border: rgb(255, 251, 0) 1px solid;
    text-align: center;
    font-size: 5rem;
    color: rgb(23, 247, 116);
    padding-top: 50px;
    padding-bottom: 30px;
    height: 18vh;
}

.entradas {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entradas button {
    margin-left: 20px;
}

.tarjeta img {
    height: 200px;
    object-fit: cover;
}

.footer {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 10vh;
}

.button {
    border: none;
    padding: 10px 20px;
    background-color: steelblue;
    border-radius: 20px;
    color: white;
    font-size: 1.5rem;
}

.button:hover {
    background-color: teal;
}

.input {
    border-radius: 20px;
    width: 30%;
    border: 2px solid steelblue;
    padding: 10px;
}

.input:focus {
    outline: none;
    color: steelblue;
    font-weight: 500;
}

.mostrarInfo {
    margin: auto 35vw;
    align-content: center;
}